@charset "utf8";
* {
    margin: 0;
    padding: 0
}

body {
    padding: 15% 30%;
    display: inline-block;
    background-color: #1baff3;
    color: white;
}

h2 {
    width: 300px;
    padding: 40%;
    margin: 0 auto;
}